#
# Configuration of the Mondrian Server application
#

# public base url of mondrian server application (used in discovery methods of XMLA interface)
cubesBaseUrl = https://localhost:8080


# JDBC Url for connection to the dwh database
# For PostgreSQL, see https://jdbc.postgresql.org/documentation/head/connect.html
databaseUrl = jdbc:postgresql://localhost/dwh?user=dwh&password=123abc


# absolute path to mondrian schema xml file
mondrianSchemaFile = /path/to/mondrian-schema.xml


# absolute path to a mondrian.properties file for tuning the mondrian engine, keep empty for defaults
# see https://mondrian.pentaho.com/documentation/configuration.php for options
mondrianPropertiesFile =


# the local directory where saiku user queries are stored
saikuStorageDir = /tmp


# URL that will be called to check whether a given user has access rights to Saiku
saikuAuthorizationUrl =

# A fixed user name and password for simple Saiku authentication
saikuUsername =
saikuPassword =

# URL that will be called to check whether a given user has access rights to Excel
excelAuthorizationUrl =

# A fixed user name and password for simple Excel authentication
excelUsername =
excelPassword =

# enable/disable logging of MDX, generated SQL queries or all mondrian output
logMondrian = true
logMdx = true
logSql = true
logXmla = true


# the locale that is used for formatting numbers (1.234,56 vs. 1,234.56)
locale = de_DE

# the currency symbol that will be used to display currencies plus the string to match for replacing currency symbols
currencyCode = EUR
currencyPlaceholder = @


